
@{
    ViewBag.Title = "Nuevo";
}


<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">
    <li class="btn btn-danger btn-circle">
        <i class="fas fa-save"></i>
    </li> Agregar Agencias
</h1>
<p></p>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Ingresar Información</h6>
    </div>
    <div class="card-body">

        <form>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label class="control-label font-weight-bold">Agencia</label>
                    <input type="text" class="form-control" id="txtAgencia">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label font-weight-bold" for="inputDep">Departamento</label>
                    <select id="inputDep" class="form-control">
                        <option>Seleccionar</option>
                        <option selected>Lima</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label font-weight-bold" for="inputProv">Provincia</label>
                    <select id="inputProv" class="form-control">
                        <option>Seleccionar</option>
                        <option selected>Lima</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label font-weight-bold" for="inputDist">Distrito</label>
                    <select id="inputDist" class="form-control">
                        <option>Seleccionar</option>
                        <option selected>Santiago de Surco</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label font-weight-bold">Dirección</label>
                    <input type="text" class="form-control" id="txtDirecc">
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label font-weight-bold">Teléfono</label>
                    <input type="text" class="form-control" id="txtTelf">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label font-weight-bold">Latitud</label>
                    <input type="text" class="form-control" id="txtLatitud">
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label font-weight-bold">Longitud</label>
                    <input type="text" class="form-control" id="txtLongitud">
                </div>
            </div>

            <div class="form-group col-md-offset-2">
                <a class="btn btn-primary shadow-sm" href="@Url.Action("Inicio","Agencias")">
                    <i class="fas fa-undo fa-sm text-white-50"></i> Regresar
                </a>

                <a class="btn btn-success shadow-sm" href="@Url.Action("Nuevo","Agencias")">
                    <i class="fas fa-save"></i> Grabar
                </a>
            </div>
        </form>

    </div>
</div>

